.banner {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.banner__img {
    width: 100%;
    height: 100%;
}

.banner__title {
    font-size: 2rem;
    font-weight: 800;
}

.banner__btn {
    background-color: var(--soft-red);
    padding: 1rem 2rem;
    color: var(--off-white);
    font-weight: 700;
    letter-spacing: 3px;
    align-self: flex-start;
}

@media screen and (min-width: 1024px) {
    .main {
        display: grid;
        grid-template-areas: 
            "banner news"
            "links links"
        ;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr auto;
    }
    
    .banner {
        display: grid;
        grid-area: banner;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .banner__picture {
        grid-area: 1/1 / 2/3;
    }

    .banner__title {
        align-self: center;
        font-size: 2.5rem;
        grid-area: 2/1 / 4/2;
    }

    .banner__paragraph {
        grid-area: 2/2 / 3/3;
        align-self: center;
    }

    .banner__btn {
        grid-area: 3/2 / 4/3;
    }
}