@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@import url('./header.css');
@import url('./banner.css');
@import url('./news.css');
@import url('./links.css');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --icon-menu: url('../images/icon-menu.svg');
}

.body {
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

p {
    color: var(--dark-grayish-blue);
    line-height: 1.3;
}

@media screen and (min-width: 1024px) {
    .main {
        display: grid;
        grid-template-areas: 
            "banner news"
            "links links"
        ;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr auto;
        column-gap: 1.5rem;
        row-gap: 3rem;
    }
}
